body{
    font-family: 'Roboto', sans-serif !important;
}
.text-center {
    text-align: center !important;
}

.pb-3, .py-3 {
    padding-bottom: 1rem !important;
}

.pt-3, .py-3 {
    padding-top: 1rem !important;
}

footer.page-footer .footer-copyright {
    overflow: hidden;
    background-color: #101010;
    border-color: #101010;
    display: block;
}

.content-section {
    margin-top: 20px;
}

.caption {
    text-align: center;
}

.login {
    width: 500px;
    border: 2px solid rgb(0, 0, 0);
    display: flex;
    padding: 20px;
    margin: 0px auto;
    box-shadow: 5px 6px 13px -5px rgb(175, 178, 219);
    border-radius: 8px;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}